body {
    color: black;
    font-family: 'Do Hyeon', sans-serif;
}
.btn {
    margin-right: 10px;
    margin-bottom: 10px;
}

head {
    background: #780f2b;
}

form, input {
	margin-right: 10px;
}

#vidGame-input {
	margin-top: 30px;
	margin-bottom: 10px;
}
img {
	margin: 10px;
}

fieldset {
    background: #780f2b;
}

#jumbo {
	background-color: #fee7c8;
	border: none;
}
#text {
	color: black;
}
#panelBody {
	background-color: #fee7c8;
	border: 0;
}
#rating {
    margin: 5px;
}

button {
    background: #2d998a;
    border-style: ridge;
    border-color: #780f2b;
}

.btn-danger {
    background: #2d998a;
    border-style: ridge;
    border-color: #780f2b;
    font-family: 'Do Hyeon', sans-serif;
}

html {
    background: #fee7c8;
}